<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button ng-click="getRequest()" mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
  </form>
  <script src="script.js"></script>
  <router-outlet></router-outlet>
</div>
